<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Website CSS style -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="https://fonts.googleapis.com/css?family=Pacifico&subset=latin-ext,vietnamese" rel="stylesheet">
	<!-- Website Font style -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/product.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese" rel="stylesheet">

	<title>상품 목록</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">cqrs guide</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="https://localhost:30001/products?type=createProduct">상품등록</a>
				</li>
				<li class="active">
					<a href="https://localhost:30001/products">상품목록</a>
				</li>
				<li>
					<a href="https://localhost:10001/mypage">마이페이지</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://localhost:10001/logout">로그아웃</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<div class="container">
	<div class="row">
		<!-- BEGIN PRODUCTS -->
		<div th:each="product : ${products}" class="col-md-3 col-sm-6 product-item">
    		<span class="thumbnail">
      			<img th:src="${product.imagePath}" th:alt="${product.description}">
      			<h3 th:text="${product.name}">${product.name}</h3>
      			<p th:text="${product.description}"></p>
				<p class="price" th:text="'￦ ' + ${product.formatPrice}">￦ </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
						<div class="input-group">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dev-plus-button" aria-label="Plus">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
							<input type="number" class="form-control dev-order-quantity" readonly="readonly" value="0">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dev-minus-button" aria-label="Minus">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
							</div>
						</div>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-info right dev-cart-button" th:attr="data-productId=${product.productId}"> ADD ITEM</button>
      				</div>

      			</div>
    		</span>
		</div>
		<!-- END PRODUCTS -->
	</div>
</div><!-------container----->

<footer>
	<div class="navbar navbar-fixed-bottom">
		<div class="container">
			<div class="pull-left">
				<ul class="order-line"></ul>
			</div>
			<div class="pull-right">
				<a class="btn btn-primary btn-lg dev-order-button" href="#" style="margin: 14px 0 10px 0;">
					<span class="glyphicon glyphicon-shopping-cart" style="font-size: x-large"></span>
					Buy Now
				</a>
			</div>
		</div>
	</div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script src="js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="js/jquery.mousewheel.min.js" type="text/javascript"></script>
<script src="js/jquery.kinetic.min.js" type="text/javascript"></script>
<script src="js/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>
<script>
	function StringBuffer() {
		this.buffer = [];
	}
	StringBuffer.prototype.append = function append(string) {
		this.buffer.push(string);
		return this;
	};
	StringBuffer.prototype.toString = function toString() {
		return this.buffer.join("");
	};


	$( document ).ready(function() {

		function bindRemoveCartItem() {
			$('a.dev-remove-item').unbind('click').click(function(){
				$(this).parent().remove();
			});
		}

		$('.dev-cart-button').click(function() {
			var parantObj = $(this).parentsUntil('.thumbnail');
			var $quantity = parantObj.find('.dev-order-quantity');
			var currentQuantity = $quantity.val() === '' ? 0 : Number($quantity.val());
			if (currentQuantity === 0) {
				alert('주문수량을 입력해 주세요');
				return;
			}

			var productId = $(this).attr('data-productId');

			var $orderLine = $('.order-line');
			var isAddedProduct = false;
			$orderLine.find('li').each(function(){
				if ($(this).attr('data-productId') === productId) {
					alert('이미 장바구니에 추가된 상품입니다');
					isAddedProduct = true;
					return false;
				}
			});

			var productImgSrc = $(this).parentsUntil('.product-item').find('img').attr('src');

			if (!isAddedProduct) {
				var addHtml = new StringBuffer();
				addHtml.append('<li data-productId="' + productId + '" data-quantity="' + currentQuantity + '">');
				addHtml.append('<a href="#" class="dev-remove-item">');
				addHtml.append('<span class="glyphicon glyphicon-remove"></span>');
				addHtml.append('</a>');
				addHtml.append('<img src="'+ productImgSrc +'">');
				addHtml.append('<strong>수량 : '+ currentQuantity +'</strong>');
				addHtml.append('</li>');

				$orderLine.append(addHtml.toString());

				bindRemoveCartItem();
			}
		});

		$('.dev-plus-button').click(function() {
			var $quantity = $(this).parent().next();
			var currentQuantity = $quantity.val() === '' ? 0 : Number($quantity.val());
			$quantity.val(currentQuantity + 1);
		});

		$('.dev-minus-button').click(function() {
			var $quantity = $(this).parent().prev();
			var currentQuantity = $quantity.val() === '' ? 0 : Number($quantity.val());
			if (currentQuantity > 0) {
				$quantity.val(currentQuantity - 1);
			}
		});

		$('.dev-order-button').click(function() {
			var $orderLineItem = $('.order-line').find('li');
			if ($orderLineItem.length === 0) {
				alert('주문할 상품을 선택해 주세요');
				return;
			}

			var orderLines = "";
			$orderLineItem.each(function() {
				var productId = $(this).attr('data-productid');
				var quantity = $(this).attr('data-quantity');

				orderLines += productId+":"+quantity + ",";
			});

			document.location.href = "https://localhost:20001/checkout?checkoutItems[]=" + orderLines;

		});

	});
</script>
</body>
</html>